---
import Button from "@components/button/Button.astro";
import astronaut from "@images/404/astronaut-nobg.png";
import { getLocaleFromUrl } from "@js/localeUtils";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { setCacheHeaders } from "@js/cacheHeaders";

const currLocale = getLocaleFromUrl(Astro.url);
setCacheHeaders(Astro,"404");
---

<BaseLayout title="404" description="Error 404 page not found." noindex={true}>
	<!-- Animated Stars Background -->
	<div class="dark bg-background text-foreground">
		<div class="stars-bg" aria-hidden="true">
			<div class="stars"></div>
			<div class="stars2"></div>
		</div>

		<!-- Main Content -->
		<div class="site-container relative z-10">
			<div class="flex min-h-screen flex-col items-center justify-center text-center">
				<div class="animate-astroFloat">
					<!-- <div> -->
					<!-- 404 Text -->
					<h1 class="text-[10rem] leading-none font-bold">
						<span class="from-primary bg-gradient-to-r to-white bg-clip-text text-transparent">
							404
						</span>
					</h1>

					<!-- Message -->
					<p class="mb-4 text-2xl font-bold md:text-4xl">Houston, we have a problem!</p>
					<p class="mb-8 max-w-lg text-xl text-gray-400">
						The page you're looking for has drifted into deep space or never existed in the first
						place.
					</p>

					<!-- Action Buttons -->
					<div class="flex flex-wrap justify-center gap-4">
						<Button href={"/"} variant="primary" arrow="right"> Return Home </Button>
					</div>
				</div>

				<!-- Floating Astronaut -->
				<div class="astronaut absolute h-32 w-32 md:h-48 md:w-48">
					<Image src={astronaut} alt="Astronaut floating in space" class="h-full w-full" />
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
