---
import SubscribeSection from "@components/subscribe/SubscribeSection.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { setCacheHeaders } from "@js/cacheHeaders";

setCacheHeaders(Astro);
---

<BaseLayout
	title="Subscribe"
	description="Subscribe to our newsletter for the latest insights about development and everything tech."
>
	<div class="bg-background dark pt-12">
		<SubscribeSection class="min-h-screen pt-36" />
	</div>
</BaseLayout>